/*@font-face {
  font-family: 'Wallpoet';
  font-style: normal;
  font-weight: 400;
  src: local('Wallpoet'), url(http://fonts.gstatic.com/s/wallpoet/v9/f0X10em2_8RnXVVdUObp58Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*/

html {
  font-family: 'Wallpoet';
  height: 100%;
  width: 100%;
  color: #55a879;
  background: linear-gradient(#051e19,#05663f);
  background-repeat: no-repeat;
}

h2 {
  font-size: 1rem;
}

button, span {
  font-size: 1.3rem; 
}

button {
  font-family: 'Wallpoet';
  color: #55a879;
  background: #054d32;
  border: 1px solid #55a879;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  color: #054d32;
  background: #55a879;
  box-shadow: 3px 3px 5px #04202C;
}

#container {
  text-align: center;
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header {
  padding: 20px 10px;
  color: #55a879;
}

#header h1, #headlights {
  font-size: 4rem;
  text-transform: uppercase;
}

.timer-setup {
  display: inline-block;
}

#display-time {
  font-size: 4.1rem;
}

#message {
  padding-top: 30px;
  text-align: center;
  font-size: 1.5rem;
}

#tomato-img {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}